@use "mixin" as *;
@import "variables";
header {
  background-color: $header-bg;
  .head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .text-logo {
      display: flex;
      flex-direction: row;
      gap: 10px;
      h1 {
        text-shadow: 2px 2px $shadow;
      }
    }
    .hamburger {
      display: none;
      // display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      span {
        width: 25px;
        height: 3px;
        background: black;
      }
    }
  }
}
.list {
  @include horizontal-list();
}
.logo {
  @include horizontal-list($white, 70px);
}

@media (max-width: 956px) {
  header {
    .head {
      flex-direction: column;
      align-items: flex-start;
      .hamburger {
          align-self: flex-end;
        display: flex;
      }
    }
  }
  .logo {
    display: none;
  }
  .list ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  .list.active ul {
    display: block;
  }
}
