.choose{
  max-width: 1950px;
  display: flex;
  height: 10vh;
  background-color: #e6afaf;
  justify-content: space-evenly;
  align-items: center;
}
.container{
  display: flex;
  gap: 20px;
}
.container-1{
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.color-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-align: center;
}
h1{
  color: #ea6161;
}
h2{
  font-size: 30px;
  color: rgb(186, 151, 151);
}
button{
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}