.main{
    background-color: aqua;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}
h2{
    font-size: 50px;
    font-weight: bolder;
    color: green;
}
/* .counter{
    margin:9rem 0rem 9rem 0;
} */
 button{
    height: 40px;
    width: 90px;
    border-color: blue;
    border-radius: 5px;
    cursor: pointer;
 }
 button:hover{
    background-color: aqua;
    color: red;
    border-radius: 10px;
 }