@import "variable";
.main {
  background-color: $background;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 9rem;

    .info {
      display: flex;
      flex-direction: column;
      background-color: $white;
      height: 60%;
      width: 70%;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto; 
        box-shadow: 0 8px 20px $shadow;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .description {
        width: 80%;
        height: fit-content;
      }
      .choose{
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
