body {
  background-color: #f1f5f8;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 3rem;
}
.main .whole .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 10px;
  gap: 20px;
}
.main .whole .col1 header h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: #102a42;
}
.main .whole .col1 header .underline {
  justify-self: center;
  height: 5px;
  width: 80px;
  background-color: #c59d5f;
}
.main .whole .col1 nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.main .whole .col1 nav .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main .whole .col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(5, 1fr); /* 5 rows */
  gap: 2rem; /* optional spacing */
}
.main .whole .col2 .breakfast.block {
  display: none;
}
.main .whole .col2 .lunch.block {
  display: none;
}
.main .whole .col2 .shakes.block {
  display: none;
}
.main .whole .col2 .dinner.block {
  display: none;
}
.main .whole article .food {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.main .whole article .food img {
  height: 150px;
  width: 200px;
  border-radius: 5px;
  border: 5px solid #c59d5f;
}
.main .whole article .food .item-info header {
  display: flex;
  justify-content: space-between;
}
.main .whole article .food .item-info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #102a42;
  letter-spacing: 0.4em;
}
.main .whole article .food .item-info h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #c59d5f;
  letter-spacing: 0.4em;
}
.main .whole article .food .item-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #617d98;
}

@media screen and (max-width: 992px) {
  .main .whole .col1 header h1 {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 40px;
    color: #102a42;
  }
  .main .whole .col1 header .underline {
    justify-self: center;
    height: 3px;
    width: 40px;
    background-color: #c59d5f;
  }
  .main .whole .col1 nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .main .whole .col1 nav .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .main .whole .col1 nav .btn-container .btn {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    height: auto;
    width: auto;
  }
  .main .whole .col2 {
    display: flex;
    flex-direction: column;
  }
  .main .whole article .food {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */